@use '../partials/reset.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');


.Container {
    display: flex;
    background-image: radial-gradient(circle, #f5f5a4, #eaea9b, #dfdf92, #d4d489, #c9c980);
    height: 100vh;

    margin-top: 0;
}
.TaskList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 10rem;
    width: 90%;
    max-width: 35rem;
    height: 45rem;
    max-height: 50rem;
    padding: 1rem 2rem;
    background-image: radial-gradient(circle, #f5f5dc, #f0f0d1, #eaeac6, #e5e5bc, #e0e0b1);
    border-radius: 10px;
    box-shadow: 7px 10px 15px 5px rgba(0,0,0,0.7);

    &__Header {
        font-family: 'Caveat', cursive;
        font-weight: 700;
        font-size: 4rem;
        margin: 1rem 0 2rem 0;
    }

    &__Container {
        width: 100%;
        height: 50rem;
        padding-left: 0;
        margin-left: 0;
    }
}